.card-img-top{
    height: 320px;
}
.card-body{
    padding: 7px 1px 3px 1px !important;
}
.containe-card-filter{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin-bottom: 80px !important;
}
.card-body-link{
    padding-top: 0px !important;
}