.Serie-details{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.Cast{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}
.containerCast h2{
    text-align: center;
    margin: 30px;
}
.containerCast p{
    padding-top: 15px;
    font-size: larger;
    text-align: center;
    font-weight: 600;
}
.containerCast{
    margin-bottom: 50px;
}
.Container-details{
    padding: 80px;
}
h4{
    padding-bottom: 25px;
    font-size: x-large;
    font-weight: 600;
}
@media (max-width:900px) {
    .Serie-details{
        flex-direction: column;
    }
    
}