body{
  margin: 0;
  padding: 0;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3A6073, #16222A) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh !important;
  color: white !important;
}
a, h1, h2, h3, h4{
  font-family: 'Supreme', sans-serif !important;
}
p{
  font-family: 'Nunito', sans-serif !important;
}
a{
  font-size: 17px;
  text-decoration: none !important;
  font-weight: 600;
  color: white !important;
}
form img{
  width: 32px;
  background-color: transparent!important;
  filter: invert(1);
}
form button{
  background-color: transparent;
  border: none;
}
.navbar{
  background:transparent;
}
.navbar-toggler{
  background-color: rgb(194, 194, 194)!important;
}
.container-fluid, Main{
  margin: 0px 100px !important;
}
.carousel{
  justify-content: center;
}
.containe-card-filter{
  padding-top: 50px;
}
.card-img-top{
  height: 100%;
}
.description{
  color: white;
    text-align: inherit;
    font-weight: 400;
    font-size: small;
    padding: 5px;
}